In [1]:
import numpy as np
import pandas as pd
import json
import os

In [2]:
df = pd.DataFrame()
for num in np.arange(21, 991, 10):
    lower_bound = str(num)
    upper_bound = str(num + 10)
    filename = lower_bound + "to" + upper_bound + ".json"
    # Check if file is empty
    if os.stat(filename).st_size != 0:    
        some_df = pd.read_json(filename)
        df = pd.concat([df, some_df])

In [3]:
len(df)

5766

In [4]:
df.drop_duplicates(subset='url', keep='first', inplace=True)

In [5]:
len(df)

5224

In [6]:
df.shape

(5224, 37)

In [7]:
df.to_csv('cancun_scrape_2.csv', index=False)

In [13]:
df[df['url'] == 'https://www.airbnb.com/rooms/10823831']

,accuracy,amt_w_service,avg_rating,bathrooms,bedrooms,can_instant_book,checkin,cleanliness,communication,currency,...,price,rate_type,response_rate,response_time,reviews_count,room_type_category,star_rating,url,value,weekly_price_factor
86,10,237,4.8,2.0,2.0,True,10,10,10,CAD,...,237,nightly,100,within an hour,69,entire_home,5.0,https://www.airbnb.com/rooms/10823831,10,1.0